extends layout

block content
  .container.mt-5.pt-4
    h1.text-center.mb-4 Admin Panel

    // Users Section
    .card.mb-4
      .card-header
        h2.mb-0 Users
      .card-body
        table.table.table-bordered.table-striped
          thead
            tr
              th Username
              th Role
          tbody
            each user in users
              tr
                td= user.username
                td= user.isAdmin ? 'Admin' : 'User'

    // Blog Posts Section
    .card
      .card-header
        h2.mb-0 Blog Posts
      .card-body
        table.table.table-bordered.table-striped
          thead
            tr
              th Title
              th Author
              th Actions
          tbody
            each post in posts
              tr
                td= post.title
                td= post.author
                td
                  a.btn.btn-info.me-3(href=`/post/${post._id}`) View
                  form(method="POST", action=`/admin/delete/${post._id}`, style="display:inline-block;")
                    button.btn.btn-danger(type="submit") Delete
